body{
    background-image:url('https://i.postimg.cc/LsSNzs3Q/background.jpg')!important;
    overflow-x: hidden;
}
.navbar-brand span{
    color:#f78da7;
    font-weight: bold;
}
.nav-link:hover{
    color:#f78da7;
    font-weight: bold;
}
img[alt="logo"]{
    height: 400px;
}
#landing{
  display: flex;
  margin-top:100px;
}
#landing h1{
    color:#f78da7;
    font-size: 70px;
    font-weight: bold;
}
#landing h3{
    font-size: 30px; 
}
#landing button{
    padding:4px 20px;
    box-shadow:5px 5px 12px black;
    border-radius: 12px;
    background-color: #f78da7;
    font-weight: bold;
}
#landing button a{
    text-decoration: none;
    color:black;
}
/* featured */
#featured img {
        height: 100vh!important;
        max-height: 100vh!important;
        width: 100vw!important;
        display: flex!important;
        flex-direction: row!important;
        overflow: hidden!important;
        position: relative!important;
}
/* about us */
#aboutUs{
    margin-top: 10%;
    height: fit-content;
    background-color: bisque;
}
/* products */
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.newProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
#products h1{
    margin-left:300px;
    font-style: italic;
}
#products .row{
    align-items: center;
    justify-content: center;

}
img[alt="products"]{
    height:300px;
}
.btn{
    background-color: #f78da7;
    box-shadow:5px 5px 12px black;
}
/* admin */
img[alt="tables"]{
    height: 200px;
}
footer{
    margin-top: 50px!important;
    background-color: #f78da7!important;
}


@media only screen and (width < 400px){
    Body{
     background-color: blanchedalmond!important;
    }
   #landing{
    display: block;
    font-size: 40px!important;
    margin-right: 12px !important;;
   }
   #landing h1{
    color:#f78da7;
    font-size: 20px;
    font-weight: bold;
    margin-right:12px!important;
}
#landing h1 span{
    color:#f78da7;
    font-size: 20px!important;
    font-weight: bold;
    margin-right:12px;
}
#landing h3{
    font-size: 18px; 
}
#landing h3 span{
    font-size: 18px!important; 
}
   img[alt="logo"]{
    display: block;
    height: 400px;
   width: 300px;
   margin-right:12px!important;
}
#landing button{
    padding:4px 10px;
    box-shadow:5px 5px 12px black;
    border-radius: 12px;
    background-color: #f78da7;
    font-weight:none!important;
    font-size: 17px;
}
/* about */
.col{
    text-align: center!important;
    align-items: center!important;
    padding-right: 1rem!important;
}
/* products */
#products h1{
    margin-left:10px!important;
    font-style: italic;
    font-size: 15px;
}
.newProduct{
    display: block;   
}
.card{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 500px !important;
    width: 17rem !important;}
    /* admin */

    th:nth-child(3),
    td:nth-child(3) {
      display: none;
    }
    th,
    td {
      width: calc(100% / 5);
    }
    /* .del{
        width: 15px;
    } */
    /* th:nth-child(5),
    td:nth-child(5),
    th:nth-child(6),
    td:nth-child(6) {
      display: none;
    }
    th:nth-child(5),
    td:nth-child(5) {
      width: 50%;
      grid-column: 1 / span 2;
    
    }
    th:nth-child(5),
    td:nth-child(5) ~ th,
    td:nth-child(5) ~ td,
    th:nth-child(6),
    td:nth-child(6) ~ th,
    td:nth-child(6) ~ td {
      display: table-cell;
    } */
}



